body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    background-color: ##e8eef5;
    .content {
        a {
            padding-bottom: 0;
        }
        font-size: 13px;
        color: black;
        line-height: 1.8;
        background-color: white;
        padding: 20px;
    }
    h3 {
        color: #71a959;
    }
    code {
        background-color: red;
        color: white;
        border-radius: 4px;
    }
    pre.language-ad-info {
        background-color: #93a3a9;
        border-color: black;
    }
}
